
@{
    ViewBag.Title = "Paragon Test Page";
}

<h2>Paragon Security Main Page</h2>

<p>This page is only for testing of redirection from https://www.paragonsecurity.ca/</p>

<p></p>

<p>
    <a href=""><b>Apply Online</b></a>
</p>

<p>
    <a href=""><b>Browse our current job openings</b></a>
</p>
