@using RecruitingPortal.Domain
@{
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}

<div id="rsPageContentWrap">
    <h3>Job List</h3>
    <div class="rsBackCard">
        <div class="col-xs-12">
            <div class="rsBlockWrap">
                <section id="featured">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="index_result_01" style="width:100%; padding-top:5px; padding-bottom:5px;">
                                    @Html.Action("JobSearch", "Search", new { searchControlDirection = SearchControlDirection.Vertical })
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div class="index_result_01" style="width:100%; padding-top:5px; padding-bottom:5px;">
                                    <div id="search-results-jobPosting-grid">
                                        @Html.Partial("_JobPostingGrid")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>