@{
    ViewBag.Title = "Confirm Email";
}

<br /><br /><br />
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 col-center-block">
        <div class="rsSignInCard center-block">
            <h3>@ViewBag.Title</h3>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
            <a href="@Url.Action("Login", "Account")" class="btn btn-group-sm btn-info">Back To Login Page</a>
        </div>
    </div>
</div>
