@{
    ViewBag.Title = "Change Password Confirmation";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}

<div id="rsPageContentWrap">
    <h3>@ViewBag.Title</h3>
    <div class="rsBackCard">
        <div class="col-xs-12">
            <div class="rsBlockWrap">

                @if (TempData["message"] != null)
                {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="glyphicon glyphicon-ok"></span> <strong>@TempData["message"]</strong>
                    </div>

                    <div>
                        <input type="button" value="Go List All Jobs Page" class="btn btn-success" onclick="location.href='@Url.Action("Index", "JobPosting")'" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>