@{
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}
<div id="rsPageContentWrap">
    <h3>Overview</h3>
    <div class="rsBackCard">
        <div class="col-xs-12">
            <div class="rsBlockWrap">
                @Html.Partial("_SecurityGuardRequest")
            </div>
        </div>
    </div>
</div>
