<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <b>I Agree with <a href="#ServiceAgreement">Terms of Service Agreement</a> *</b>
            <input type="checkbox" id="chkAgree" name="chkAgree" />
        </div>
    </div>
</div>
